{% if path is defined %}
location {{ path }} {
{% else %}
location {{ laclasse_services[backend]['path'] }} {
{% endif %}
  proxy_pass http://{{ backend }};
  proxy_set_header Host $host;
#  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-Proto https;
  proxy_set_header X-Forwarded-Host {{ laclasse.host_name }};
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
#    proxy_set_header X-Forwarded-Port $server_port;
#    proxy_set_header ClientIP $remote_addr;
  
  proxy_http_version 1.1;

  add_header X-Frontend {{ item }};
  add_header X-Backend {{ backend }};


{% if laclasse_services[backend]['nginx_location_specific'] is defined %}
{% for k in laclasse_services[backend]['nginx_location_specific'] %}
  {{ k }} {{ laclasse_services[backend]['nginx_location_specific'][k] }};
{% endfor %}
{% endif %}
}


